* {
	margin: 0; padding: 0;
}

#container {
	width: 1600px;
	height: 900px;
	margin: auto;
	margin-top: 40px;
	background-color: #ddd;
}

#window {
	width: 90%;
	margin: auto;
	height: 60%;
	overflow: hidden;
	background-color: #fff;
}
#guitar {
	position: relative;
	width: 1440px;
	transition: width 0.5s, left 0.5s, top 0.5s;
}
.fretMark {
	position: relative;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 999;
	border-radius: 999px;
	transition: opacity 0.5s, left 0.5s, top 0.5s;
	opacity: 0.6;
	box-shadow: 0 0 5px #000;
	background-color: #eee;
}

#control {
	position: relative;
	height: 40%;
	width: 90%;
	margin: auto;
	background-color: #222;
	color: #eee;
}

#nav {
	width: 100%;
	white-space: nowrap;
	border-bottom: 1px solid #fff;
}

#nav .tab {
	display: inline-block;
	width: 20%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ddd;
	color: #222;
	text-align: center;
	font-family: sans-serif;
	font-size: 20pt;
	
}