* {
	margin: 0; padding: 0;
}

body {
	background-color: #eee;
}

#container {
	width: 1600px;
	height: 900px;
	margin: auto;
	margin-top: 40px;
	background-color: #333;
	border-radius: 20px;
	box-shadow: 1px 1px 2px #000;
	border: 2px solid #fff;
}

#window {
	width: 90%;
	margin: auto;
	height: 60%;
	overflow: hidden;
	background-color: #444448;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
#guitar {
	position: relative;
	width: 1440px;
	transition: width 0.5s, left 0.5s, top 0.5s;
}
.fretMark {
	position: relative;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 999;
	border-radius: 999px;
	transition: opacity 0.5s, left 0.5s, top 0.5s;
	opacity: 0.6;
	box-shadow: 0 0 5px #000;
	background-color: #eee;
}

#control {
	position: relative;
	height: 39.8%;
	width: 90%;
	margin: auto;
	background-color: #222;
	color: #eee;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#content {
	width: 80%;
	height: 100%;
	float: left;
	background-image: url("img/bg.jpg");
	background-size: 100%;
}

#nav {
	width: 100%;
	white-space: nowrap;
	border-bottom: 1px solid #fff;
	background-color: #feb;
}

#nav .tab {
	display: inline-block;
	width: 24.75%;
	margin-top: 2px;
	margin-left: .2%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #333;
	
	color: #feb;
	text-align: center;
	font-family: serif;
	text-decoration: line-through;
	font-weight: bold;
	font-size: 24pt;
	text-shadow: 1px 1px 1px #000;
}
#nav .tab:last-child {
	margin-right: 3px;
}

#infoBox {
	width: 20%;
	height: 100%;
	background-color: #444448;
	float: right;
	outline: 2px solid #fff;
}
#noteInfo {
	height: 50%;
	
	line-height: 5;
	color: #feb;
	text-align: center;
	font-family: serif;
	text-decoration: line-through;
	font-weight: bold;
	font-size: 48pt;
	text-shadow: 1px 1px 1px #000;
	
}